.ncc-row, .ncc-container {
  background-color: #004488;
  &.ncc-title-row {
    border-bottom: 1px solid #ffffff;
  }
}

.ncc-question {
  background-color: #004488;
  padding: 3rem;
}

.ncc-page-button {
  padding: 0 2rem;
}

.ncc-page {
  margin-bottom: 5vh;
}

.form-label, 
label, 
p, 
h1, h2, h3, h4, h5, h6,
li {
  color: #ffffff;
}

small {
  &.form-text {
    color: #ffffff;
  }
}

button {
  &.btn-ghost {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-bottom: 1.3rem;
  }
}

.ncc-summary-p {
  width: 60rem;
  margin: 4vh auto;
}

.typography-underline {
  text-decoration: underline;
}

.ncc-table {
  color: #ffffff;
  margin-bottom: 3vh;
  tr {
    th {
      border-bottom: 1px solid #ffffff;
      &, td {
        padding: 1rem;
      }
    }

    td {
      font-weight: bold;
      padding-left: 2rem;

      &.ncc-major-costs { 
        font-size: 1.25rem;  

        &.final-total {
          font-size: 2rem;
        }
      } 
    }
  }
}

input[type="number"] {
  background-color: #048;
  color: #fff;
  max-width: 6rem;
}